section.hero-section {
  background-image: url("../assets/img/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 78px 86px 126px 171px;
}
section.hero-section .content-left {
  max-width: 400px;
}
section.interested-form{
    padding: 66px 72px 66px 86px;
    background-color: var(--color-spectra-blue);
    
}

section.interested-form .content-left .info-item{
 padding-bottom: 13%;
 border-bottom: 1px solid white;
 margin-bottom: 17%;
 padding-right: 25%;
 color: white;
}
section.interested-form .content-left .info-item:last-child{
    border-bottom: none;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
section.interested-form .content-right{
    /* max-width: 600px; */
    padding: 56px 50px;
    background-color: white;
}
section.features{
    padding: 70px 86px;
}
section.features .features-item{
    margin-right: 10px;
}
section.harness-power{
    padding: 56px 86px;
    background-color: var(--color-spectra-violet);
}
section.contact-us{
    background-color: black;
    padding: 56px 86px;
}
section.faqs{
    background-color: var(--color-gray-blue);
    padding: 72px 86px;
}
.spectra-accordion .accordion-item{
    background: transparent;
    margin-bottom: 20px;
}
.spectra-accordion .accordion-item .accordion-button{
    background:transparent;
    border-bottom: 1px solid var(--color-gray-97);
    font-size: 18px;
    color: #333333;
    padding-bottom: 1.6rem;
}
.spectra-accordion .accordion-item .accordion-button:focus{
    box-shadow: none;
}
.spectra-accordion .accordion-item .accordion-button::after{
    background-image: none;
    content: '-';
}
.spectra-accordion .accordion-item .accordion-button.collapsed::after{
    content: '+';
    background-image: none;
    transform: none;
}
.accordion-button:not(.collapsed)::after{
    transform: none;
}
section.our-clients .client-logo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.our-clients .client-logo img{
    width: min(120px, 80%);
}
section.plans .plan-card{
    width: 100%;
    max-width: 434px;
    padding: 10px;
    background-color: white;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.08);
    border: 1px solid black;

}
section.plans .plan-card .plan-header{
    background: var(--gradient-spectra-violet);
    color: white;
    padding: 20px 30px;
}
section.plans .plan-card .plan-body{
    padding: 34px 30px;
}
section.plans .plan-card .plan-body .divider{
    height: 1px;
    width: 100%;
    background-color: var(--color-light-gray);
}
/*navbar*/
.nav-item {
  padding-left: 40px;
}
.navbar-brand {
  background-color: black;
}
.nav-link.active {
  font-family: "Helvetica Neue";
  font-style: bold;
  font-weight: 400;
}
.nav-link {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.secondary-navbar {
  padding-top: 19px;
  padding-bottom: 19px;
}
/*navbar end*/

/* Footer */
.footer-top {
  padding: 100px 0px 50px 0px;
}
.footer .intro {
  padding-left: 20px;
}
@media (max-width: 995px) {
  .footer .intro {
    padding-left: 10px;
  }
}
.footer .intro .title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
.intro p {
  padding-top: 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
}
.footer .icons img {
  padding-right: 18px;
  cursor: pointer;
}
.footer .links .title {
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  font-family: "Helvetica Neue";
  padding-bottom: 16px;
  position: relative;
}
.footer .links .title::after {
  content: "";
  height: 1px;
  width: 80%;
  background-color: #fff;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: -2px;
}
.footer .links a {
  font-style: normal;
  font-weight: 400;

  font-size: 0.875rem;
  font-family: "Helvetica Neue";
  font-size: 14px;
  color: white;
  opacity: 0.8;
  padding-bottom: 14px;
  display: block;
  text-decoration: none;
}
.footer-bottom {
  padding-bottom: 10px;
}
.footer-bottom .left-side {
  text-align: left;
  font-size: 0.875rem;
  color: rgb(255 255 255 / 50%) !important;
}
@media (max-width: 995px) {
  .footer-bottom .left-side {
    padding-right: 45px;
  }
}
.footer-bottom .left-side span {
  margin-right: 20px;
}
.footer-bottom .right-side {
  text-align: center;
  padding-right: 5%;
  font-size: 0.875rem;
}
.contact-detail-menu .heading {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: "Helvetica Neue";
  color: rgb(255 255 255 / 50%) !important;

  display: block;
  text-decoration: none;
}
.contact-detail-menu .value {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: "Helvetica Neue";
  color: #f56b6b !important;
  padding-bottom: 14px;
  display: block;
  text-decoration: none;
}
.footer-bottom .chat-box {
  background: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom .chat-box img {
  width: 30px;
}
/*Footer End */
