/* root variables */
:root{
    --color-gray-blue: #D9E2EC;
}

/* Gloabl styles */
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'Spectra';
  src: url('../assets/fonts/Spectra-Regular.woff2') format('woff2'),
      url('../assets/fonts/Spectra-Regular.woff') format('woff'),
      url('../assets/fonts/Spectra-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue-Light.woff2') format('woff2'),
      url('../assets/fonts/HelveticaNeue-Light.woff') format('woff'),
      url('../assets/fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
      url('../assets/fonts/HelveticaNeue-Medium.woff') format('woff'),
      url('../assets/fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
      url('../assets/fonts/HelveticaNeue-Bold.woff') format('woff'),
      url('../assets/fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue-Thin.woff2') format('woff2'),
      url('../assets/fonts/HelveticaNeue-Thin.woff') format('woff'),
      url('../assets/fonts/HelveticaNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueRegular.woff2') format('woff2'),
      url('../assets/fonts/HelveticaNeueRegular.woff') format('woff'),
      url('../assets/fonts/HelveticaNeueRegular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue.woff2') format('woff2'),
      url('../assets/fonts/HelveticaNeue.woff') format('woff'),
      url('../assets/fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue-Italic.woff2') format('woff2'),
      url('../assets/fonts/HelveticaNeue-Italic.woff') format('woff'),
      url('../assets/fonts/HelveticaNeue-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/*navbar*/
.nav-item {
    padding-left: 40px;
  }
  .navbar-brand {
    background-color: black;
  }
  .nav-link.active {
    font-family: "Helvetica Neue";
    font-style: bold;
    font-weight: 400;
  }
  .nav-link {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .secondary-navbar {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  /*navbar end*/
  

  /* Footer */
.footer-top {
    padding: 100px 0px 50px 0px;
  }
  .footer .intro {
    padding-left: 20px;
  }
  @media (max-width: 995px) {
    .footer .intro {
      padding-left: 10px;
    }
  }
  .footer .intro .title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .intro p {
    padding-top: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .footer .icons img {
    padding-right: 18px;
    cursor: pointer;
  }
  .footer .links .title {
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    font-family: "Helvetica Neue";
    padding-bottom: 16px;
    position: relative;
  }
  .footer .links .title::after {
    content: "";
    height: 1px;
    width: 80%;
    background-color: #fff;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: -2px;
  }
  .footer .links a {
    font-style: normal;
    font-weight: 400;
  
    font-size: 0.875rem;
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: white;
    opacity: 0.8;
    padding-bottom: 14px;
    display: block;
    text-decoration: none;
  }
  .footer-bottom {
    padding-bottom: 10px;
  }
  .footer-bottom .left-side {
    text-align: left;
    font-size: 0.875rem;
    color: rgb(255 255 255 / 50%) !important;
  }
  @media (max-width: 995px) {
    .footer-bottom .left-side {
      padding-right: 45px;
    }
  }
  .footer-bottom .left-side span {
    margin-right: 20px;
  }
  .footer-bottom .right-side {
    text-align: center;
    padding-right: 5%;
    font-size: 0.875rem;
  }
  .contact-detail-menu .heading {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    font-family: "Helvetica Neue";
    color: rgb(255 255 255 / 50%) !important;
  
    display: block;
    text-decoration: none;
  }
  .contact-detail-menu .value {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    font-family: "Helvetica Neue";
    color: #f56b6b !important;
    padding-bottom: 14px;
    display: block;
    text-decoration: none;
  }
  .footer-bottom .chat-box {
    background: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-bottom .chat-box img {
    width: 30px;
  }
  /*Footer End */

  /* color utility classes */
  .bg-black{
    background-color: black;
    color: white;
  }

  .bg-black a {
    color: white !important;
  }