/* root variables */
:root {
  --color-gray-blue: #d9e2ec;
  --color-yellow: #fec66f;
  --color-spectra-blue: #47a8c5;
  --color-light-gray: #808080;
  --color-gray-97: #979797;
  --color-spectra-violet: #8C78B280;
  --gradient-spectra-violet: linear-gradient(96.34deg, #8C78B2 0%, #6E4BAF 100%);
  --gradient-spectra-blue:linear-gradient(96.14deg, #6889B1 -2.94%, #4B78AF 100%);
  --gradient-spectra-green:linear-gradient(96.34deg, #6ABEC1 0%, #43B0B4 100%);
}

/* Gloabl styles */
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 133%;
  color: black;
}

@font-face {
  font-family: "Spectra";
  src: url("../assets/fonts/Spectra-Regular.woff2") format("woff2"),
    url("../assets/fonts/Spectra-Regular.woff") format("woff"),
    url("../assets/fonts/Spectra-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeue-Light.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeue-Light.woff") format("woff"),
    url("../assets/fonts/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeue-Medium.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("../assets/fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeue-Bold.woff") format("woff"),
    url("../assets/fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeue-Thin.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeue-Thin.woff") format("woff"),
    url("../assets/fonts/HelveticaNeue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/HelveticaNeueRegular.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeueRegular.woff") format("woff"),
    url("../assets/fonts/HelveticaNeueRegular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeue.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeue.woff") format("woff"),
    url("../assets/fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeue-Italic.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeue-Italic.woff") format("woff"),
    url("../assets/fonts/HelveticaNeue-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* link1 */
a.spectra-link{
    display: block;
    font-weight: 300;
    font-size: 16px;
    color: var(--color-spectra-blue);
}
/* color utility classes */
.bg-black {
  background-color: black;
  color: white;
}

.bg-black a {
  color: white !important;
}
.text-color-white{
    color: white;
}
.text-color-yellow {
  color: var(--color-yellow);
}
.text-color-light-gray{
    color: var(--color-light-gray);
}

/* fonts and title */
.spectra-title {
  font-family: "Spectra";
  font-size: 4.0625rem;
  line-height: 124%;
}
h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 0;
}
.text-62 {
  font-size: 3.875rem;
}
.text-52 {
  font-size: 3.25rem; 
}
.text-48 {
  font-size: 3rem;
}
.text-40 {
  font-size: 2.5rem;
}
.text-24 {
  font-size: 1.5rem;
}
.text-20 {
  font-size: 1.25rem;
}
.text-16 {
  font-size: 16px;
}
.text-14 {
  font-size: 14px;
}
@media(max-width:768px){
    
}
/* font-weights */
.fw-300 {
  font-weight: 300;
}
.fw-500 {
  font-weight: 500;
}
/* line height */
.line-height-200{
    line-height: 200%;
}
/* spacing, margin and padding */
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-28 {
  margin-bottom: 28px;
}
.margin-bottom-36 {
  margin-bottom: 36px;
}
.margin-bottom-44{
    margin-bottom: 44px;
}
.margin-bottom-70{
    margin-bottom: 70px;
}
.margin-right-50{
    margin-right: 50px;
}
.margin-right-10{
    margin-right: 10px;
}
/* button styles */
button.spectra-btn {
  font-size: 16px;
  line-height: 100%;
  min-width: 200px;
  padding-block: 16px;
  text-transform: uppercase;
  color: white;
  border: none;
  text-align: center;
}
button.spectra-black-btn {
  background-color: black;
  box-shadow: 0 0 0 0px white, 0 0 0 0px black, 0 0 0 0px white inset,
    0 0 0 0px black, 6px 6px 0 0px white, 7px 7px 0 0px black !important;
}
button.spectra-blue-btn {
  background-color: var(--color-spectra-blue);
  box-shadow: 0 0 0 0px black, 0 0 0 0px var(--color-spectra-blue),
    0 0 0 0px black inset, 0 0 0 0px var(--color-spectra-blue),
    6px 6px 0 0px black, 7px 7px 0 0px var(--color-spectra-blue) !important;
}
/* section styles */
section {
  width: 100%;
}
.center-grid{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

/* Form elements */
.input-wrapper {
  width: 100%;
  margin-bottom: 20px;
}
.input-wrapper input,
select {
  width: 100%;
  padding: 13px 20px;
  background: #ffffff;
  border: 1px solid #cec4d4;
  border-radius: 3px;
}
.input-wrapper label {
  color: #7a7a7a;
  font-size: 14px;
  margin-bottom: 12px;
}
.input-wrapper input::placeholder{
    color: #B7B4B4;
}

/* Fixing owl nav */
.plans-carousel .owl-nav.disabled{
    display: block !important;
    background-color: unset;
}
.plans-carousel .owl-nav [class*=owl-]{
    background: none !important;
    color: unset;
    filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.16));
    position: absolute;

}
.plans-carousel .owl-nav .owl-prev img{
    width: 100%;
}
.plans-carousel .owl-nav .owl-next img{
    transform: rotate(180deg);
    transform-origin: center;
    width: 100%;
}
.plans-carousel .owl-nav .owl-next{
    top: 50%;
    transform: translateY(-50%);
    right: -1%;
}
.plans-carousel .owl-nav .owl-prev{
    top: 50%;
    transform: translateY(-50%);
    left: -4%;
}
